<div class="container">
  <h1 class="featurette-heading">DERECHOS FUNDAMENTALES</h1>
  <div class="card-container">
    <mat-card class="card-1">
      <div style="text-align: center;">
        <mat-card-title  class="card-title">QUE SON?</mat-card-title>
        <mat-card-actions>
          <button class="card-btn" mat-raised-button (click)="openDialog1()">Ver mas</button>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card-2">
      <div style="text-align: center;">
        <mat-card-title class="card-title">CONSTITUCION POLITICA 1991</mat-card-title>
        <mat-card-actions>
          <button class="card-btn" mat-raised-button (click)="openDialog2()">Ver mas</button>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card-3">
      <div style="text-align: center;">
        <mat-card-title class="card-title">CUANDO SON VULNERADOS?</mat-card-title>
        <mat-card-actions>
          <button class="card-btn" mat-raised-button (click)="openDialog3()">Ver mas</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
