.container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 10%;
  flex-direction: column;
}
.btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}
.img-container {
  display: flex;
  justify-content: center;
}
.form-container {
  padding-bottom: 2%;
}
.input-container {
  display: flex;
  justify-content: center;
}
.left-input {
  margin-left: 4%;
}
@media screen and (max-width: 426px){
  .input-container {
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
  }
  .left-input {
    margin-left: 0%;
  }
}
