<div class="container">
  <h1 class="featurette-heading">BIENVENIDO</h1>
  <div class="card-container">
    <mat-card class="card-1">
      <div style="text-align: center;">
        <mat-card-title  class="card-title">DERECHOS FUNDAMENTALES</mat-card-title>
        <mat-card-actions>
          <button class="card-btn" mat-raised-button routerLink="/fundamental-rights">Ver mas</button>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card-2">
      <div style="text-align: center;">
        <mat-card-title class="card-title">DERECHOS DE PETICION</mat-card-title>
        <mat-card-actions>
          <button class="card-btn" mat-raised-button routerLink="/petition-right">Ver mas</button>
        </mat-card-actions>
      </div>
    </mat-card>
    <mat-card class="card-3">
      <div style="text-align: center;">
        <mat-card-title class="card-title">ACCION DE TUTELA</mat-card-title>
        <mat-card-actions>
          <button class="card-btn" mat-raised-button routerLink="/tutelage-action">Ver mas</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
